@model IEnumerable<nutritionoffice.Models.BasicQuestionnaire>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Ooops!</h3>
<p>
    There is Nothing Here !!!!
</p>