
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!-- Single button -->
<div class="form-group">
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Age Ranges <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("AgeRangesIndex")">List</a></li>
            <li><a href="@Url.Action("AgeRangeCreate")">Create New</a></li>
        </ul>
    </div>
</div>


