@model IEnumerable<nutritionoffice.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resource.EditAppointment</h4>
            </div>
            <div class="modal-body" id="modalformcontent">
                <p>Some text in the modal.</p>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>

<div id="calendar" data-indexlink="@Url.Action("GetAppointmentsByDate","Appointments")" data-updateappointmentlink="@Url.Action("UpdateAppointment")", data-editappointmentlink="@Url.Action("EditAppointment")"></div>

@section Scripts{
    <script src="~/Scripts/moment.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/lib/jquery-ui.min.js"></script>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/fullcalendar.js"></script>
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
}